<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header>
        <div class="container">
            <h1>
                <a href="/">
                    <img src="/images/logo_wide.png" alt="Bulldog Biz" style="width:300px">
                </a>
            </h1>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content | safe}}
        </div>
    </main>
    <footer>
        
        <div class="container">
            <div class="dog">
                <img src="/images/doggy.png" alt="Bulldog" style="width:200px">
            </div>
            <p>This directory is independently run by <a href="https://www.bangkokprep.ac.th/friends-of-bangkok-prep-pta/">Friends of Bangkok Prep</a></p>
            <p>Appearing in this directory is not an endorsement by the school or Friends of Bangkok Prep.</p>
       
       
            <p>
                <a href="mailto:fobp.bkkprep@gmail.com">Contact FOBP</a>
            </p>
            <p>
                <a href="/add">Add a business</a>
            </p>
            <p> &copy; FOBP 2023</p>
        </div>
       
    </footer>
    </div>
</body>