@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* GENERAL STYLING */

:root {
    --fobp-text: #333237;
    --fobp-orange: #FAA819;
    --fobp-blue: #3AB9DB;
    --fobp-link: #224A81;
    --fobp-lightgray: #EFEFEF;
    --space1: 4px;
    --space2: 8px;
    --space4: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fobp-lightgray);
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--fobp-text);
}

a {
    color: var(--fobp-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.breadcrumbs a {
    font-weight: bold;
    margin-top: var(--space4);
}

h1,
h2 {
    margin: 0.5em 0 0.5em;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 16px;
    line-height: 27px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: var(--space4);
}

header {
    background-color: orange;
    padding: var(--space2) 0;
    text-align: center;
    color: white;
    border-bottom: 1px solid #eee;
}

header h1 {
    font-size: 22px;
}

footer {
    padding: var(--space4) 0;
    text-align: center;
    border-top: 1px solid #eee;
}


/* HOME PAGE */
.main-intro {
    margin-bottom: var(--space4);
}

.biz-listing {
    border: 1px lightgray solid;
    padding: var(--space4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: 1em;
}

.biz-listing .category {
    font-weight: bold;
    margin: 0;
}

.biz-listing h2 {
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: var(--space4);
}

.biz-listing h2 .logo {
    width: 50px;
    height: 50px;
    background-color: var(--fobp-lightgray);
}

.biz-listing h2 .logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}


/* DETAIL PAGE */


.biz-detail aside {
    margin-top: var(--space4);
    margin-bottom: var(--space4);
}

.biz-detail .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.biz-detail .image img {
    max-width: 100%;
}

.biz-detail h2 {
    display: flex;
    align-items: center;
    gap: var(--space4);
    margin-bottom: 0;
}

.biz-detail .info {
    display: flex;
    gap: var(--space4);
    align-items: center;
    margin-top: var(--space4);
}


.biz-detail .has-discount {
    background-color: #FAA81926;
    padding: var(--space4);
    border-radius: var(--space4);
}

.biz-detail .has-discount h3 {
    color: var(--fobp-orange);
}



@media screen and (min-width: 768px) {
    .biz-detail {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .biz-detail .col-main {
        flex: 0.7;
    }

    .biz-detail .col-secondary {
        flex: 0.3;
        padding: var(--space4);
    }
}


.tags {
    display: flex;
    gap: var(--space2);
    margin-top: var(--space4);
    margin-bottom: var(--space4);
}

.tags .tag {
    color: white;
    padding: var(--space1) var(--space4);
    border-radius: var(--space4);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tags .tag img {
    width: 16px;
    height: 16px;
    margin-right: var(--space2);
}

.tags .tag.tag-discount {
    background-color: var(--fobp-orange);
}

.tags .tag.tag-parent-run {
    background-color: var(--fobp-blue);
}