@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --fobp-text: #333237;
    --fobp-orange: #FAA819;
    --fobp-blue: #3AB9DB;
    --fobp-link: #224A81;
    --fobp-lightgray: #EFEFEF;
    --space2: 8px;
    --space4: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fobp-lightgray);
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--fobp-text);
}

a {
    color: var(--fobp-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.breadcrumbs a {
    font-weight: bold;
    margin-top: var(--space4);
}

h1,
h2 {
    margin: 0.5em 0 0.5em;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 16px;
    line-height: 27px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: var(--space4);
}

header {
    background-color: orange;
    padding: var(--space2) 0;
    text-align: center;
    color: white;
    border-bottom: 1px solid #eee;
}

header h1 {
    font-size: 22px;
}

footer {
    padding: var(--space4) 0;
    text-align: center;
    border-top: 1px solid #eee;
}

.biz-listing {
    border: 1px lightgray solid;
    padding: var(--space4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: 1em;
}

.biz-listing h2 {
    font-size: 32px;
}

.info {
    display: flex;
    gap: var(--space4);
    align-items: center;
    margin-top: var(--space4);
}

.has-discount {
    background-color: #FAA81926;
    padding: var(--space4);
    border-radius: var(--space4);
}