---
layout: layout.njk
title: Bulldog Biz - Business Directory from Friends of Bangkok Prep
---

<p class="main-intro">Welcome to Bulldog Biz, the business directory from Friends of Bangkok Prep (FOBP). 
Browse through our {{ businesses.list.length }} highlighted businesses, featuring business run by Bangkok Prep parents, as well as local businesses who offer discounts and deals to FOBP parents.</p>
<div class="form">
    <div>
    Show:
    </div>
    <select>
        <option value="">All businesses</option>
        {% for category in businesses.categories %}
            <option value="{{category|slugify}}">{{category}}</option>
        {% endfor %}
    </select>
    <label>
        <input type="checkbox" id="parentrun" />
        <span>Parent-run</span>
    </label>
    <label>
        <input type="checkbox" id="discount" />
        <span>Discount for FOBP</span>
    </label>
</div>
{% for business in businesses.list %}
    <article class="biz-listing category-{{business.category|slugify}}">
        {% if business.logo and business.logo[0] %}
                <a href="/business/{{business.name|slugify}}" class="logo">
                    {% image business.logo[0].thumbnails.large.url, business.name %}
                </a>
        {% else %}
            <a href="/business/{{business.name|slugify}}" class="logo placeholderlogo"></a>
        {% endif %}
        <div class="meta">
            <p class="category category{{business.category|slugify}}">{{business.category}}</p>
            <h2>
            <a href="/business/{{business.name|slugify}}">{{business.name}}</a></h2>
            <div class="tags">
                {% if business.hasDiscount %}
                    <div class="tag tag-discount">
                        <img src="/images/coupon-white.svg" alt="" />
                        <p>Discount for FOBP</p>
                    </div>
                {% endif %}
                {% if business.parentRun %}
                    <div class="tag tag-parent-run">
                        <img src="/images/parent-white.svg" alt="" />
                        <p>Parent-run</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endfor %}
<article class="biz-listing">
<p class="add-info">Interested in being on the directory? 
    <a target="_blank" href="/add" target="_blank">Add your business!</a>
</p>
</article>
<script src="/js/filter.js"></script>